rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function requireAuth() {
      return request.auth != null;
    }

    match /recordings/{recordingId} {
      allow read: if true;
      allow create: if requireAuth() && request.resource.contentType.matches('audio/mpeg');
      allow delete: if false;
    }
  }
}
