---
---
<footer class="bg-slate-700 text-sky-100 p-4 flex flex-col items-center text-sm">
    <p>Website by Anna Murphy</p>
    <p>Find the game at <a href="https://seasidesepulchre.itch.io/capes-in-the-dark">itch.io</a>.</p>
</footer>
